<!--de nombre pongan patient.html-->
<!--recuerden que solo son html de prueba :)-->
<!DOCTYPE html>
<html>
<head>
    <title>Búsqueda y Agregar de Paciente</title>
</head>
<body>
    <h1>Búsqueda y Agregar de Paciente</h1>
<form method="post" action="/patient/search">
    <label for="name_last_name">Nombre:</label>
    <input type="text" id="name_last_name" name="name_last_name" required>
    <button type="submit">Buscar Paciente</button>
</form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <br>

    <form method="get" action="/patient/add">
        <button type="submit">Agregar Paciente</button>
    </form>

{% if review %}
    <h2>Resultado de la búsqueda:</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Fecha de nacimiento</th>
            <th>Direccion</th>
        </tr>
        <tr>
            <td colspan="3">{{ review[1] }} {{ review[2] }} {{ review[0] }} {{ review[3] }} {{review[4] }}</td>
        </tr>
    </table>
    <h2>Editar Paciente:</h2>
    <form method="post" action="/patient/edit">
        <select name="column_update">
            <option value="name">Nombre</option>
            <option value="last_name">Apellido</option>
            <option value="id_pat">ID</option>
            <option value="birthdate">Fecha de Nacimiento</option>
            <option value="address">Dirección</option>
        </select>
        <input type="text" name="new_data" placeholder="Nuevo valor">
        <input type="hidden" name="name" value="{{ review[1] }}">
        <input type="hidden" name="last_name" value="{{ review[2] }}">
        <input type="hidden" name="id_pat" value="{{ review[0] }}">
        <input type="hidden" name="birthdate" value="{{ review[3] }}">
        <input type="hidden" name="address" value="{{ review[4] }}">
        <button type="submit">Editar</button>
    </form>
    <h2>Eliminar Paciente:</h2>
    <form method="post" action="/patient/delete">
        <input type="hidden" name="name" value="{{ review[1] }}">
        <input type="hidden" name="last_name" value="{{ review[2] }}">
        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este paciente?')">Eliminar</button>
    </form>
{% endif %}

</body>
</html>
